$lte7: false !default;
$white: #e5e5e5 !default;
$blue: #3074c2 !default;
$gray: #8e8e93 !default;
$red: #ff0000 !default;
$green: #01e921 !default;

//$borderColor: #2c2c2c !default;
$borderColor: #262626 !default;


$w-gray: #646464 !default;
$w-white: #1c1c1c !default;
$w-borderColor: #dadada !default;
// $w-borderColor: #eee !default;
